html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    box-sizing: border-box;
}
header {
    padding: 10px;
    background-color: rgb(230, 0, 18);
    color: white;
}
nav{
    display: flex;
    justify-content: space-between;
}
.nav1-div{
    display: flex;
    gap: 20px;
    align-items: center;
}
.nav2-div{
    display: flex;
    gap: 30px;
    align-items: center;
}
.nav2-div div:hover{
    color: #ccc;
    cursor: pointer;
}
.nav-hamburger:hover {
    cursor: pointer;
}
h1 {
    text-align: center;
    
}

#show-filters{
    text-align: center;
    margin: 25px;
}

.btns-container {
    text-align: center;
    margin: 15px;
    display: none;
}
.show-display{
    display: block;
}
#game-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin: 10px;
}
.game-cont-div {
    display: flex;
    /* flex-direction: column; */
    gap: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #ccc;
    border-radius: 8px;
    width: auto;
}
.game-cont-div img {
    width: 200px;
    border-radius: 8px;
}
.game-cont-div:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}
.div-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
}
button {
    margin: 5px;
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: rgb(230, 0, 18);
    color: white;
    cursor: pointer;
}   
button:hover {
    background-color: rgb(153, 0, 12);
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .nav-logo{
        display: none;
    }
    #game-container {
        flex-direction: row;
        justify-content: center;
        min-width: auto;
        
    }
    .game-cont-div {
        flex-direction: column;
    }
    .div-img img {
        width: 100%;
    }
   
}